.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 145px;
}
.card {
    position: relative;
    width: 300px;
    height: 508px;
    border: 1px solid #95a0a7;
    border-radius: 5px;
}

.card-body {
    padding: 7px;
}
.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img img {
    width: 286px;
    height: auto;
    border-radius: 5px;
}

.product-details {
    margin: 12px 0;
    color: #0e161a;
}

.category {
    margin: 47px 0;
}

.cart-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 48px;
    background: #ffe0b3;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}
.cart-btn:hover {
    background: orange;
}
